{% extends "application/layout.html" %} 

{% block title %} Index {% endblock %}

{% load static %}

<!-- Load the javascript file for index -->
{% block scripts %} <script src="{% static 'application/index.js' %}"></script> {% endblock %}

{% block main %}
<div class="container-fluid">
    <form onsubmit="return updateMap()" id="form" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="heading">Welcome to our Twitter density map.</div>
            <div class="row">
                <div class="input-group">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <!-- If a hashtag list is given, creates a drop down selection of the given tags. --> 
                        {% if hashtag_list %}
                            <select class="form-control" id="select_tag" name="select_tag">
                            {% for option in hashtag_list %}
                                <option value="{{option}}">
                                {{option}}
                                </option>
                            {% endfor %}
                            </select>
                        {% else %}
                            <p>No options available.</p>
                        {% endif %}
                    </div>
                    <div class="col-md-2">
                        <!-- Go button to send the ajax request and refresh image -->
                        <button type="submit" class="btn btn btn-primary" id="submit">Show Density Map</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="showntag" align="center">
    <strong>Hashtag Selected: </strong> none
</div>
<h2></h2>

{% endblock %}