html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow: hidden; /*  Disable scrollbars */
    display: block;  /* No floating content on sides */
    text-align: center;
}

svg {
    display: block;
    height: 100%;
    margin: auto;
}

.states {
	fill: #e5e5e5;
	stroke: #fff;
	stroke-width:1px;
}

.redtweets {
    fill: red;
    opacity: 0.7;
}

.greentweets {
    fill: green;
    opacity: 0.7;
}

.hover {
    fill: yellow;
}

h1,
h2 {
    position: absolute;
    left: 10px;
    font-size: 1.3em;
    font-weight: 100;
}

h2 {
    top: 85%;
    font-size: 12px;
}
    
/* Fonts can be selected from https://fonts.google.com/
   Must also be changed in the layout.html 
   Current font sucks. */
.heading {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 400%;
    font-weight: bold;
}